<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="d-flex justify-content-between pt-4 pb-4 border-bottom">
  <div class="d-flex align-items-center">
    <img
      class="img-responsive mr-5 max-100"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTL5pUi67kpngJmXcECqXL3_l-HiJVxhq97cfHgKNsDukS8f86jxYt0dAPSeIKKw45TpjbUnw0&usqp=CAc"
    />
    <div>
      <h4 class="product-name">
        <strong>{{ productItem.name }}</strong>
      </h4>
      <h4>
        <small>{{ productItem.description }}</small>
      </h4>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="mr-5">
      <h6>
        <strong
          >{{ productItem.price }} <span class="text-muted">x</span></strong
        >
      </h6>
    </div>
    <div class="mr-5">
      <input
        type="number"
        min="0"
        class="form-control input-sm max-60"
        [(ngModel)]="productItem.quantity"
        (change)="onProductQuantityChanged()"
      />
    </div>
    <div>
      <button type="button" class="btn btn-link btn-xs" (click) = 'removeProductItem(productTem)'>
        <span class="glyphicon glyphicon-trash"> </span>
      </button>
    </div>
  </div>
</div>
