<h3>SHOPPING CART</h3>
<p>Shopping Cart</p>


<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  Shopping Cart
                </h5>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-sm btn-block">
                  <span class="glyphicon glyphicon-share-alt"></span> Continue
                  shopping
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <hr />
          <div>
            <app-product-list
              (productsUpdated)="updateProducts()"
            ></app-product-list>
          </div>

          <hr />
          <div class="panel-footer">
            <div class="row text-center">
              <div class="col-xs-9">
                <h4 class="text-right">
                  Total <strong>{{ total | currency: "USD" }}</strong>
                </h4>
              </div>
              <div class="col-xs-3">
                <a routerLink="/checkout">
                  <button type="button" class="btn btn-success btn-block">
                    Checkout
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
