<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Angular Shopping</title>
  </head>
  <body>
    <div class="container"></div>
    <router-outlet></router-outlet>
    <nav>
      <a
        class="button"
        routerLinkActive="activebutton"
        routerLink="/shopping-cart"
        >Shopping Cart</a
      >
      |
      <a class="button" routerLink="/checkout" routerLinkActive="activebutton"
        >Checkout</a
      >
    </nav>
  </body>
</html>
